<div id='platform-events-node' class='slds-grid slds-wrap slds-grid--pull-padded'>
	<!-- MASTHEAD -->
	<h3 class="slds-size--1-of-1 slds-text-heading--medium slds-text-align--center slds-theme--shade slds-m-around--small">Fanout Pattern Demo</h3>
	<!-- / MASTHEAD -->
	<div style="text-align:center;width: 100%; padding-top: 100px;">
		App Subscribed to the Platform Event.
	</div>
</div>


