<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/assets/stylesheets/style.css" />
		<link rel="stylesheet" href="/assets/styles/salesforce-lightning-design-system.css" />
	</head>
	<body style="overflow-x:hidden">
    	{{{body}}}
	</body>
</html>
